<div class="forgot-screen">
    <div class="top-img">
        <img src="../../../../assets/img/img1.jpg">
    </div>
    <div class="fields py-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Forgot Password !</h1>
                    <p class="text-center sub-text">Enter your Email address we will send you verification code</p>
                    <form [formGroup]="programForm">
                        <div class="email">
                          <label class="form-label">Email address</label>
                          <input type="email" class="form-control" placeholder="Email address" formControlName="email">
                          <i class="fa-solid fa-envelope"></i>
                        </div>
                        <button type="button" class="btn btn-primary w-100" routerLink="/auth/login">Send</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>