<div class="history-listing">
    <div class="pat-history">
        <div class="container">
            <h1>Patient History</h1>
            <div class="history mt-3" *ngFor="let item of history" routerLink="/patient/history-detail">
                <div class="d-flex justify-content-between">
                    <p>{{item.docName}}</p>
                    <p>{{item.disease}}</p>
                </div>
                <div class="d-flex justify-content-between">
                    <p>{{item.date}}</p>
                    <p class="status">{{item.status}}</p>
                </div>
            </div>
        </div>
    </div>
</div>