<div class="history-detail">
    <div class="top-bg">
        <div class="container">
            <div class="d-flex user-bar">
                <div class="profile">
                    <img src="../../../../assets/img/p2.jpg">
                </div>
                <div class="txt flex-grow-1">
                    <h1>Ilyas Ahmed</h1>
                    <p>+92 XXX XXXXXXX</p>
                </div>
                <div class="notification">
                    <i class="fa-solid fa-bell"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="doc-info">
                        <img src="../../../../assets/img/d2.jpg" class="doc-img">
                        <h1>Robert Cris</h1>
                        <p class="field">Neurologist</p>
                        <p class="disease">Blood Poisoning</p>
                        <p class="date">20-09-2023</p>
                        <p class="status">Upcoming</p>
                    </div>
                    <div class="remarks">
                        <p class="rem-head">Remarks</p>
                        <p class="rem-txt">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>