@import '/src/styles.scss';

.history-detail {
    background-color: white;
    .top-bg {
        background-color: #0d6efd;
        padding: 20px 0px;
        border-radius: 0 0px 20px 20px;
        .user-bar {
            display: flex;
            align-items: center;
            .profile {
                img {
                    width: 42px;
                    height: auto;
                    border-radius: 10px;
                }
            }
            .txt {
                padding-left: 15px;
                h1 {
                    font-size: 17px;
                    font-weight: 600;
                    color: white;
                    padding-bottom: 3px;
                }
                p {
                    font-size: 14px;
                    color: white;
                }
            }
            .notification {
                i {
                    &.fa-bell {
                        font-size: 22px;
                        color: white;
                    }
                }
            }
        }
    }
    .content {
        padding: 20px 0px 35px 0;
        position: relative;
        .doc-info {
            position: relative;
            text-align: center;
            img {
                width: 105px;
                height: 105px;
                border-radius: 100px;
                margin-bottom: 10px;
            }
            h1 {
                color: black;
                font-size: 18px;
                font-weight: 600;
                padding-bottom: 2px;
            }
            p {
                &.field {
                    color: black;
                    font-size: 15px;
                    font-weight: 500;
                }
                &.disease {
                    color: black;
                    font-size: 15px;
                    font-weight: 500;
                }
                &.date {
                    color: silver;
                    font-size: 15px;
                    font-weight: 500;
                }
                &.status {
                    color: white;
                    border: 1px solid #0d6efd;
                    background-color: #0d6efd;
                    padding: 2px 0 0px 0;
                    width: 104px;
                    text-align: center;
                    font-size: 16px;
                    border-radius: 50px;
                    position: absolute;
                    top: 2px;
                    right: 2px;
                }
            }
        }
        .remarks {
            p {
                &.rem-head {
                    font-size: 18px;
                    font-weight: 500;
                    color: black;
                    padding-top: 22px;
                    padding-bottom: 5px;
                }
                &.rem-txt{
                    font-size: 16px;
                    color: black;
                    line-height: 1.6;
                }
            }
        }
    }
}