<div class="history-detail">
    <div class="top-bg">
        <div class="container">
            <div class="d-flex user-bar">
                <div class="profile">
                    <img src="../../../../assets/img/p2.jpg">
                </div>
                <div class="txt flex-grow-1">
                    <h1>Ilyas Ahmed</h1>
                    <p>+92 XXX XXXXXXX</p>
                </div>
                <div class="notification">
                    <i class="fa-solid fa-bell"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="container pat-history">
        <div class="row">
            <div class="history">
                <div class="d-flex justify-content-between">
                    <p>Dr. Robert Cris</p>
                    <p>Blood Poisoning</p>
                </div>
                <div class="d-flex justify-content-between">
                    <p>20-09-2023</p>
                    <p>Doctor</p>
                </div>
                <div class="d-flex justify-content-between">
                    <p>Disease</p>
                </div>
                <div class="remarks">
                    <p class="remarks-txt">Remarks</p>
                    <p>Lorem Ipsum sample text</p>
                </div>
            </div>
        </div>
    </div>
</div>