<div class="patient-listing">
    <div class="container">
        <div class="row">
            <div class="col-12 search-input">
                <input type="text" placeholder="Search Patient...">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
    </div>
    <div class="listing">
        <div class="container">
            <div class="d-flex pat-card" *ngFor="let item of patient" routerLink="/patient/detail">
                <div class="pat-img">
                    <img src="{{item.img}}">
                </div>
                <div class="flex-grow-1 pat-info">
                    <h1>{{item.name}}</h1>
                    <p class="disease">{{item.disease}}</p>
                    <p class="age">{{item.age}}</p>
                    <p class="city">{{item.city}}</p>
                </div>
                <div class="status-icon">
                    <i class="fa-regular fa-clock text-warning" *ngIf="item.status == 'upcoming'"></i>
                    <i class="fa-regular fa-circle-check text-success" *ngIf="item.status == 'compeleted'"></i>
                </div>
            </div>
        </div>
    </div>
</div>