<div class="signup-screen">
    <div class="top-img">
        <img src="../../../../assets/img/img1.jpg">
        <div class="login-sinup-btns">
            <div class="container">
                <a href="" routerLink="/auth/login">Log In</a>
                <a href="" routerLink="/auth/signup">Sign Up</a>
            </div>
        </div>
    </div>
    <div class="fields pb-4">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Create an account</h1>
                    <p class="text-center sub-text">Please enter the details below to get started</p>
                    <form>
                        <div class="user-name">
                            <label class="form-label">User name</label>
                            <input type="text" class="form-control" placeholder="User name">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="full-name">
                            <label class="form-label">Full name</label>
                            <input type="text" class="form-control" placeholder="Full name">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="contact-no mb-3">
                            <label class="form-label">Contact no.</label>
                            <input type="number" class="form-control" placeholder="Contact no.">
                            <i class="fa-solid fa-mobile-screen-button"></i>
                        </div>
                        <div class="email">
                          <label class="form-label">Email address</label>
                          <input type="email" class="form-control" placeholder="Email address">
                          <i class="fa-solid fa-envelope"></i>
                        </div>
                        <div class="password">
                          <label class="form-label">Password</label>
                          <input type="password" class="form-control" placeholder="Password">
                          <i class="fa-solid fa-lock"></i>
                        </div>
                        <div class="mb-4 checkbox">
                            <p class="role-text">Choose any one role</p>
                            
                            <div class="role">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">as a Doctor</label>
                            </div>
                            <div class="role pt-1">
                                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                <label class="form-check-label" for="exampleCheck1">as a User</label>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary w-100" routerLink="/auth/signup">Sign Up</button>
                    </form>
                    <p class="account-text text-center pt-4">You have an account? <a href="" routerLink="/auth/login">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</div>