<div class="doctor-detail">
    <div class="top-bg">
        <div class="container">
            <div class="d-flex user-bar">
                <div class="profile">
                    <img src="../../../../assets/img/p2.jpg">
                </div>
                <div class="txt flex-grow-1">
                    <h1>Ilyas Ahmed</h1>
                    <p>+92 XXX XXXXXXX</p>
                </div>
                <div class="notification">
                    <i class="fa-solid fa-bell"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="doc-info">
                        <img src="../../../../assets/img/d2.jpg" class="doc-img">
                        <h1>Dr. Robert Cris</h1>
                        <p class="field">Neurologist</p>
                        <p class="education">PHD, MBBS, FPS, CPS</p>
                        <p class="rating"><i class="fa-solid fa-star"></i>4.8</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="doc-schedule">
                        <h1 class="head">Doctor Schedules:</h1>
                        <ul>
                            <li><p>Monday: 09:00 AM to 01:00 PM</p></li>
                            <li><p>Tuesday: 11:00 AM to 03:00 PM</p></li>
                            <li><p>Friday: 09:00 AM to 01:00 PM</p></li>
                            <li><p>Sunday: 11:00 AM to 03:00 PM</p></li>
                        </ul>
                    </div>
                    <div class="confirm-date pt-4">
                        <input type="date" placeholder="Confirm your date">
                        <button type="button" class="btn btn-primary w-100 mt-3">Confirm Date</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>