<div class="doctor-detail">
    <div class="top-bg">
        <div class="container">
            <div class="d-flex user-bar">
                <div class="profile">
                    <img src="../../../../assets/img/u1.jpg">
                </div>
                <div class="txt flex-grow-1">
                    <h1>Ilyas Ahmed</h1>
                    <p>+92 XXX XXXXXXX</p>
                </div>
                <div class="notification">
                    <i class="fa-solid fa-bell"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="">

    </div>
</div>