@import '/src/styles.scss';

.patient-detail {
    background-color: white;
    .content {
        padding: 30px 0px;
        position: relative;
        .pat-info {
            text-align: center;
            img {
                width: 105px;
                height: 105px;
                border-radius: 100px;
                margin-bottom: 10px;
            }
            h1 {
                color: black;
                font-size: 18px;
                font-weight: 600;
                padding-bottom: 2px;
            }
            p {
                &.disease {
                    color: black;
                    font-size: 15px;
                    font-weight: 500;
                }
                &.age {
                    color: silver;
                    font-size: 15px;
                }
                span {
                    &.city {
                        color: silver;
                        font-size: 15px;
                    }
                }
            }
        }
        .doc-time {
            padding-top: 30px;
            p {
                font-size: 17px;
                color: black;
                padding-bottom: 8px;
            }
        }
        .btn {
            border-radius: 8px;
        }
    }
}