<div class="patient-detail">
    <div class="top-bg">
        <div class="container">
            <div class="d-flex user-bar">
                <div class="profile">
                    <img src="../../../../assets/img/p2.jpg">
                </div>
                <div class="txt flex-grow-1">
                    <h1>Ilyas Ahmed</h1>
                    <p>+92 XXX XXXXXXX</p>
                </div>
                <div class="notification">
                    <i class="fa-solid fa-bell"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="pat-info">
                        <img src="../../../../assets/img/p2.jpg" class="pat-img">
                        <h1>Robert</h1>
                        <p class="disease">Blood Poisoning</p>
                        <p class="age">
                            35 Years - 
                            <span class="city">Chicago</span>
                        </p>
                    </div>
                </div>
                <div class="doc-time">
                    <div class="doc-name d-flex justify-content-between">
                        <p>Doctor</p>
                        <p>Robert Cris</p>
                    </div>
                    <div class="time d-flex justify-content-between">
                        <p>Time</p>
                        <p>Tuesday 11:00 AM</p>
                    </div>
                    <button type="button" class="btn btn-primary w-100 mt-4">View History</button>
                    <hr>
                </div>
                <div class="remarks">
                    <textarea class="form-control" placeholder="Add Remarks Here" style="height: 100px"></textarea>
                    <button type="button" class="btn btn-primary w-100 mt-4">Add Remarks</button>
                </div>
            </div>
        </div>
    </div>
</div>